<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Education</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="user-avatar" src="https://p16-sign-useast2a.tiktokcdn.com/tos-useast2a-avt-0068-giso/7068087176885436442~tplv-tiktokx-cropcenter:100:100.jpeg?biz_tag=tiktok_user.user_cover&dr=14579&idc=my&ps=13740610&refresh_token=a6038e28&shcp=c1333099&shp=30310797&t=4d5b0474&x-expires=1746597600&x-signature=xW1l65t95mO8jvfzV7G3kn6z4Ck%3D" alt="">
            MinhPhung
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/courses/create">Thêm khóa học</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/me/stored/news">Bài viết của tôi</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Đăng xuất</a>
          </div>
        </li>
      </ul>
      
    </div>
  </div>
</nav>